<!DOCTYPE html>
<html>
  <head>
    <%# <title>Dischord</title> %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script src="https://kit.fontawesome.com/4d299434db.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Tamma+2&family=Do+Hyeon&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
